*{
    padding:0;
    outline: none;
    border:none;
    margin:0;
}
body{
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkolivegreen;
}
#content{
    width:80%;
    margin:0 auto;
}
header, footer{
    padding:30px;
}
header ul{
    display:flex;
    justify-content: space-around;
}
header li{
    list-style-type: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
header li a{
    color: #fff;
    text-decoration: none;
}
header li a:hover{
    color:#080955;
    transition: 0.5s color;
}
a{
    color: #080955;
    text-decoration: none;
}
a:hover{
    color:#fff;
    transition: 0.5s color;
}
h1{
    margin:20px 0;
}
main{
    margin:30px 0;
}
main ul{
    display:flex;
    max-width:800px;
    margin:0 auto;
    flex-wrap:wrap;
    justify-content: space-between;
}
main ul li{
    list-style-type: none;
    width:120px;
    height:120px;
    margin:10px;
    border:solid 1px #550837;
    display:flex;
    align-items:center;
    justify-content: center;
    background-color: #fff;
    box-shadow: #152b19  5px 5px 10px;
    transition: 0.5s background-color;
}
main ul li a{
    width:100%;
    height:100%;
    line-height:120px;
}

main ul li:hover{
    background-color: #550837;
}

.index{
    background-color:#fff;
    padding:50px 20px;
}
.Printemps{
    background-color: #9deea8;
}
.Hiver{
    background-color: #ddd;
}
.Eté{
    background-color:green;
}
.Automne{
    background-color:#4b2a05;
}