{% extends 'layout.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block main %}
    <h1>Calendrier</h1>
    <ul>
        {% for m in mois %}
            <li>
                    <a href="{{ path('mois_show', {'id': m.id}) }}">{{ m.nom }}</a>
            </li>
        {% else %}
                <li>Aucun mois</li>
        {% endfor %}
        </ul>
{% endblock %}
