{% extends 'layout.html.twig' %}

{% block saison %}{{ mois.saison.nom }}{% endblock %}
{% block title %}Légumes au mois de {{ mois.nom }}{% endblock %}

{% block main %}
    <p class="saison">{{ mois.saison.nom }}</p>
    <h1>Légumes au mois de {{ mois.nom }}</h1>

    <p>Les légumes disponibles au mois de {{ mois.nom }} :</p>
    <ul>
        {% for legume in mois.legumes %}
            <li><a href="{{path("legume_show", {"id": legume.id })}}">{{ legume.nom }}</a></li>
        {% endfor %}
    </ul>

    <a href="{{ path('legume_index') }}">Retour au calendrier</a>
{% endblock %}
