<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link href="{{ asset("css/style.css")}}" rel="stylesheet" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body class="{% block saison %}{% endblock %}">
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
