{% extends "layout.html.twig" %}
{% block main %}
<div class="index">
<h1>Calendrier des fruits et légumes</h1>
<img src="{{ asset("img/fruits-et-legumes.jpg")}}" alt="Fruits et légumes de saison" />
<p>Choisissez vos fruits et légumes de saison ! C'est bon pour la santé et l'environnement !</p>
</div>
{% endblock %}