{% extends "base.html.twig" %}
{% block title %}
    Calendrier des Fruits et légumes
{% endblock %}
{% block body %}
<div id="content">
    <header>
        <nav>
            <ul>
                <li><a href="{{ path("index")}}">Accueil</a></li>
                <li><a href="{{ path("legume_index")}}">Par légumes</a></li>
                <li><a href="{{ path("mois_index")}}">Par mois</a></li>
            </ul>
        </nav>
    </header>
    <main>
        {% block main %}
        {% endblock %}
    </main>
    <footer>
        ©Fruits et Légumes - 2020
    </footer>
</div>
{% endblock %}
