{% extends 'layout.html.twig' %}

{% block title %}Liste des légumes{% endblock %}

{% block main %}
    <h1>Liste des legumes</h1>

    <ul>
        {% for legume in legumes %}
            <li>
                    <a href="{{ path('legume_show', {'id': legume.id}) }}">{{ legume.nom }}</a>
            </li>
        {% else %}
                <li>Aucun légume...</li>
        {% endfor %}
        </ul>
{% endblock %}
