{% extends 'layout.html.twig' %}

{% block title %}{{ legume.nom }}{% endblock %}

{% block main %}
    <h1>{{ legume.nom }}</h1>

    <p>La/le {{ legume.nom }} est disponibles aux mois de :</p>
    <ul>
        {% for mois in legume.mois %}
            <li><a href="{{path("mois_show", {"id": mois.id })}}">{{ mois.nom }}</a></li>
        {% endfor %}
    </ul>

    <a href="{{ path('legume_index') }}">Retour à la liste des légumes</a>
{% endblock %}
